{% extends 'base.html' %}
{% block pagename %}Home{% endblock %}
{% block bodyclass %}{% endblock %}
{% block main %}
<div class="about-text">
    <h2>About Us</h2>
    <p>We're a group of four USF students who made this project for Hackabull 2019.
        We made this site as a way of increasing the impact of the #trashtag movement.<br>
        <ul>
            <li>Our GitHub can be found <a href="https://github.com/cleanup-meetup/cleanup-meetup">here.</a><br></li>
            <li>Our Devpost can be found <a href="">here.</a></li>
        </ul>
    </p>
</div>
{% endblock %}