<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cleanup Meetup - {% block pagename %}{% endblock %}</title>
    <script type="text/javascript" src="{{ url_for('static', filename='upcoming-events-map.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVmithl9HPMvSzbG-s25PXrLs4rEzGRm8&callback=initMaps"
        async defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

{% block body %}{% endblock %}

</html>