<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cleanup Meetup - View Event</title>
</head>
<body>
    
        <div class="header">
            <h2>Contact Us Ya Fools</h2>
                <p>Recyle or die, or leave us a message:</p>
        </div>
    <div class="flex">

        <div class="image">
            <img src="/trashLogo.png" style="width:75%"> 
            </div>
            <div class="contact">
                <h1>Find our stuff at GitHub</h1>
            <b> Click <a href="https://github.com/cleanup-meetup"> here</a></b>
            </div>

    </div>
</body>
</html>