{% extends 'base.html' %}
{% block pagename %}Home{% endblock %}
{% block bodyclass %}{% endblock %}
{% block main %}
<div class="ball"></div>
<main class="centered-content-layout">
    <h1 class="page-title">Contact Us</h1>
    If you like to learn more about what we did, please contact ussss at <a href="https://github.com/cleanup-meetup" >GitHub</a>

    <div class="flexUs">
        <div class="container-form">
            <form action="action_page.php">
          
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstname" placeholder="Your name..">
          
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          
              <label for="email">Email</label>
              <input type="text" id="email" name="email" placeholder="Your email..">
           
              <label for="subject">Subject</label>
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
          
              <input type="submit" value="Submit" required >
          
            </form>
          </div>
          <div class="logo"></div>
    </div>


</main>
{% endblock %}
