{% extends 'base.html' %}
{% block pagename %}Home{% endblock %}
{% block bodyclass %}{% endblock %}
{% block main %}
<div class="ball"></div>
<main class="centered-content-layout">
    <h1 class="page-title">Create New Meetup</h1>
    <p>We're excited to clean up the world with you! Fill out this form to host an event.</p>
    <form action="/upload" method="post" enctype="multipart/form-data" class="vertical-form">
        <label for="EventName">Event Name</label>
        <input class="modern-input modern-input--full-width" type="text" placeholder="Enter event name" name="EventName"
            required>
        <label for="EventLocation">Event Location:</label>
        <input class="modern-input modern-input--full-width" type="text" placeholder="Enter event location"
            name="EventLocation" required>
        <label for="EventDate">Day of Event:</label>
        <input class="modern-input modern-input--full-width" type="date" placeholder="MM/DD/YYYY" name="EventDate"
            required>
        <label for="EventTime">Event Time:</label>
        <input class="modern-input modern-input--full-width" type="time" placeholder="00:00:00" name="EventTime"
            required>
        <label for="EventDescription">Description of Event:</label>
        <textarea class="modern-input modern-textarea modern-textarea--pad-below" name="EventDescription" rows="10"
            cols="35" required></textarea>
        <input class="modern-input modern-input--full-width" type="file" name="image" accept="image/*" required>
        <button class="button button--primary">Submit Event</button>
    </form>
</main>
{% endblock %}
