{% extends 'base.html' %}
{% block body %}
    <form action="/upload" method="post" enctype="multipart/form-data" >
        <div class="form-group">
            <span class="btn btn-default btn-file">
            Browse <input type="file" name="image">
        </span>
        </div>

        <div class="form-group">
            <label for="EventName">Event Name</label>
            <input type="text" class="form-control" id="EventName" name="EventName" aria-describedby="emailHelp" placeholder="Enter event name">
        </div>

        <div class="form-group">
            <label for="EventDate">Event Date</label>
            <input type="text" class="form-control" id="EventDate" name="EventDate" aria-describedby="emailHelp" placeholder="Enter event date">
        </div>

        <input type="submit" value="Upload your image" class="btn btn-primary">
    </form>
{% endblock %}