{% extends 'base.html' %}
{% block pagename %}Home{% endblock %}
{% block bodyclass %}no-scroll-layout{% endblock %}
{% block main %}
    <main class="feature-aside-layout no-scroll-layout__content">
        <section class="feature-aside-layout__content main-content up--1">
            <header>
                <h1 class="page-title">Welcome to Cleanup Meetup!</h1>
            </header>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta optio sequi iusto porro odit. Quis culpa
                tempore illo reiciendis, commodi numquam est perspiciatis itaque nisi, facere, dolores maiores? Atque,
                incidunt!</p>
            <section class="events-map-search">
                <h2 class="section-heading"><label for="events-map-search-box">Search Upcoming Events</label></h2>
                <input type="text" id="events-map-search-box" name="events-map-search-box"
                    class="modern-input events-map-search__input modern-input--full-width focus-up--1"
                    placeholder="Address, City, or ZIP Code">
                <div class="events-map-search__results-container">
                    <img src="{{url_for('static', filename='media/home-feature.jpg')}}" class="standard-image">
                </div>
            </section>
            <div class="spacer"></div>
            <footer>A <a href="https://hackabull.io/">Hackabull</a> 2019 project.</footer>
        </section>
        <section id="events-map" class="map-container feature-aside-layout__aside upcoming-events-map map-container--loading">
            <span>Loading map...</span>
        </section>
    </main>
{% endblock %}
