{% extends 'base.html' %}
{% block pagename %}View Event{% endblock %}
{% block bodyclass %}{% endblock %}
{% block main %}
<main>
    <header class="image-wash">
        <img class="image-wash__background"
            src="https://upload.wikimedia.org/wikipedia/commons/a/a1/Brussels_Cinquantenaire_R04.jpg">
        <div clas="image-wash__content">
            <span class="pre-title">Cleanup Meetup:</span>
            <h1 class="page-title event-title">Clean up the Cinquantenaire Park in Brussels!</h1>
        </div>
    </header>

    <article class="centered-content-layout centered-content-layout--wide">
        <h2 class="section-heading centered-content-layout--wide">Event Information</h2>

        <aside data-lat="64" data-lng="32" class="map-container map-container--loading float-aside map-container--float single-event-map">
            <span>Loading map...</span>
        </aside>

        <p class="event-description">
            {{e.description}}
        </p>

        <section class="event-details-box">
            <h2 class="section-heading">Event Details</h2>
            <h3 class="section-heading--subheading">Location</h3>
            <p>
                This meetup will be located at <a href="http://maps.google.com/?q="+{{e.lat}}+{{e.lng}} target="_blank"
                    class="event-location bold">{{e.address}}</a>.
            </p>

            <h3 class="section-heading--subheading">Date</h3>
            <p>
                This cleanup will take place on <span class="bold event-time">{{e.event_date}}</span> at <span
                    class="bold event-time">{{e.time}}</span>.
            </p>

            <h3 class="section-heading--subheading">Date</h3>
            <p>
                So far {{e.agreed}} people have signed up!
            </p>
        </section>

        <section class="event-signup">
            <form action="/view/{{e.id}}" method="post">
                <button type="submit" value="Send Email" class="button button--primary">Sign Up!</button>
            </form>
        </section>
    </article>
</main>
{% endblock %}