.descript{
    font-size:18pt;
    height:560px;
    width:300px;
}

.submitForm{
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
form { 
    margin: 0 auto; 
    width:250px;
    }

.container{
    border-style: solid;
    padding: 45px;
    height: 90%;
    width: 100%;
    text-align: center;
}

.flex-container{
    display:flex;
    flex-direction: row;
}

.ball{
    display: block;
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    background:-webkit-radial-gradient(25px 25px, circle, red, #000);
    background: -moz-radial-gradient(25px 25px, circle, red, #000);
    background: radial-gradient(25px 25px, circle, red, #000);

    -webkit-animation: spin 1000ms linear infiite, moveDowntoUp 5s linear infinite;
    -moz-animation: spin 1000ms linear infinite, moveDowntoUp 5s linear infinite;
    -ms-animation: spin 1000ms linear infinite, moveDowntoUp 5s linear infinite;
    animation: spin 1000ms linear infinite, moveDowntoUp 5s linear infinite;

    -webkit-transition: all 1s ease;
    transition: all 1s ease;

    position: absolute;
    left: 0;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
  }
  @-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
  }
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
  }

  @-moz-keyframes moveDowntoUp {
    0%   { top: -100px; }
    
    100% { top: 100%; }
  }
  @-ms-keyframes moveDowntoUp {
    0%   { top: -100px; }
    100% { top: 100%; }
  }
  @keyframes moveDowntoUp {
    0%   { top: -100px; }
    100% { top: 100%; }
  }
  @-webkit-keyframes moveDowntoUp {
    0%   { top: -100px; }
    100% { top: 100%; }
  }