<!DOCTYPE html>
<html lang = "en">

    <head>
            <link rel="stylesheet" type="text/css" href="styles\AboutUs.css">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Cleanup Meetup - About Us</title>
            <div class="titles">
                <h1>About Us</h1>
            </div>
    </head>

    <body>
       <div class="about">
           <h2>We're a group of four USF students who made this project for Hackabull 2019. 
            We made this site as a way of increasing the impact of the #trashtag movement.<br>
            Our GitHub can be found <a herf ="URL FILLER">here.</a><br>
            Our Devpost can be found <a herf="URL FILLER">here.</a><br>

           <h2>

        </div> 
           
        </textarea>
    </body>
    
</html>