<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles\form.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cleanup Meetup - Create Event</title>
</head>
<body>
    <div class="flex-container">
        <div class="ball"></div>
    <form action="/action_page.php">
        <div class="container">
            <h1>Event Creation</h1>
            <p>Please fill out this form to create an event</p>
            <hr>

            <label for="event"><b>Event Name</b></label><br>
            <input type="text" placeholder="Enter event name" name="event" required>
            <br>


            <label for="location"><b>Event Location:</b>
            <input type="text" placeholder="Enter event location" name="location" required>
            <br>
            
            <label for="eventDay"><b>Day of Event:</b></label><br>
            <input type="date" placeholder="MM/DD/YYYY" name="eventDay" required>
            <br>

            <label for="eventTime"><b>Event Time:</b></label><br>
            <input type="time" placeholder="00:00:00" name="eventTime" required>
            <br>

            <label for="description"><b>Description of Event:</b></label><br>
            <textarea name="description" rows="10" cols="35" required></textarea>
            <br>

            <input type="file" name="pic" accept="image/*"><br><br>
        
            <hr>
            <p>Thank you for creating an Event with us</p>
            <button type="submit" class="submitForm">Submit Event</button>
        </div>

      </form>
    </div>
</body>
</html>