<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cleanup Meetup - Home</title>
    <script src="scripts/upcoming-events-map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVmithl9HPMvSzbG-s25PXrLs4rEzGRm8&callback=initMaps"
        async defer></script>
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body class="no-scroll-layout">
    <nav class="navbar">
        <a href="index.html" class="navbar__link"><img src="logo.png" alt="Cleanup Meetup Logo"></a>
        <ul class="navbar-link-list">
            <li class="navbar-link-list__list-item"><a class="navbar__link" href="about.html">About</a></li>
            <li class="navbar-link-list__list-item"><a class="navbar__link" href="contact.html">Contact</a></li>
            <li class="navbar-link-list__list-item"><a class="button button--primary" href="create_event.html">Create
                    Event</a></li>
        </ul>
    </nav>
    <main class="feature-aside-layout no-scroll-layout__content">
        <section class="feature-aside-layout__content main-content">
            <h1 class="page-title">Welcome to Cleanup Meetup!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta optio sequi iusto porro odit. Quis culpa
                tempore illo reiciendis, commodi numquam est perspiciatis itaque nisi, facere, dolores maiores? Atque,
                incidunt!</p>
            <section class="events-map-search">
                <h2 class="section-heading"><label for="events-map-search-box">Search Upcoming Events</label></h2>
                <input type="text" id="events-map-search-box" name="events-map-search-box"
                    class="modern-input events-map-search__input modern-input--full-width"
                    placeholder="Address, City, or ZIP Code">
                <div class="events-map-search__results-container">
                    <img src="media/home-feature.jpg" class="standard-image">
                </div>
            </section>
        </section>
        <section class="map-container feature-aside-layout__aside upcoming-events-map map-container--loading">
            Loading map...
        </section>
    </main>
</body>

</html>